/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* COMEÇO DO CSS */


/*======================================================================
                                Geral
=======================================================================*/
body {

    color: #FFFFFF;
}


a {
    text-decoration: none;
    color: white;
}

/*======================================================================
                                Topo
=======================================================================*/
header {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    opacity: 50%;
    height: 80px;
}
header div.divPrincipal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
header div.divDois ul li {
    margin: 0;
    padding: 0 35px;
}
header div.divDois ul{
    display: flex;
}
header div.divPrincipal div.image a{
    margin: 15px 0 15px 35px;
    font-size: 1.9rem;
}

/*======================================================================
                                Main
=======================================================================*/








/*======================================================================
                                Footer
=======================================================================*/


footer {
    background-color: #111;
    color: #ddd;
    text-align: center;
    padding: 40px 0;
    font-family: Arial, sans-serif;
}

.footer-top h2 {
    color: #232fb8;
    font-size: 24px;
    margin-bottom: 20px;
}


.footer-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}


.footer-nav a {
    color: #ddd;
    text-decoration: none;
    font-size: 16px;
}


.footer-nav a:hover {
    color: #1d2bc5;
}




.footer-icons {
    margin-bottom: 30px;
}


.footer-icons a {
    margin: 0 15px;
    color: #ddd;
    font-size: 24px;
    border: 1px solid;
    border-radius: 60%;
}

.footer-icons a.insta {
    padding: 10px 12px 10px 12px;
}

.footer-icons a.insta:hover {
    background: radial-gradient(circle at 30% 30%, #F58529, #DD2A7B, #8134AF, #515BD4);
    padding: 12px 14px 12px 14px;
    animation: shake 0.5s;
}


.footer-icons a.face {
    padding: 10px 11px 10px 11px;
}

.footer-icons a.face:hover {
    background: radial-gradient(circle at 30% 30%, #3b5998, #4c70ba, #8b9dc3, #dfe3ee);
    padding: 12px 14px 12px 14px;


}

.face i,
.insta i {
    transition: transform 0.3s ease-in-out;
}


.face i:hover,
.insta i:hover {
    animation: pulse 0.6s ease-in-out;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


.footer-botao p {
    color: #777;
    font-size: 14px;
    margin: 5px 0;


}

/*SONO*/




html {
    background: linear-gradient(to top, #0b104d, #20276d)
}





section {
    padding: 3vw;

}

section.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url(https://cdn.pixabay.com/photo/2023/01/14/01/20/child-7717305_960_720.png
) no-repeat center center;
    /*background: url(../src/banner.jpg), linear-gradient(red, blue);*/
    padding: 17vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: under;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5);



}

section.banner h1 {
    font-size: 5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    animation: fadeIn 3s ease-in-out;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}







/*                           CORPO                     */
section.corpo div h2 {
    text-align: center;
    font-size: 3rem;
    margin: 0 0 5vw 0;

}

section.corpo div p.legenda {
    font-size: 1.7rem;
    color: white;
    text-align: center;
    padding: 0 15vw 0 15vw;


}

section.corpo div.maior {
    display: flex;
    margin: 5vw 5vw 0vw 14vw;
}

section.corpo div.maior div.rico {
    margin: 0 0 0 4vw;
}

section.corpo div.maior div.rico ul li {
    margin: 2.1vw 0 5vw 0;
}

section.corpo div.maior div.rico ul li p {
    padding: 1vw 10vw 0 0;
    font-size: 1.5rem;
}

section.corpo div.maior div.rico ul li span {
    font-size: 2.1rem;
    margin: 0 0 2vw 0;
    color: #60a8fa;

}

section.corpo img {
    border-radius: 1.8vw;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5);
}

/*                     REM                           */

section.tituRem h2 {
    margin: 2vw 0 0 0;
    color: white;
    text-align: center;
    font-size: 2.6rem;
}

section.rem h3 {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin: 0 0 1.5vw 0;
}


section.rem {
    position: relative;
    margin: 0vw 0 8vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}




section.rem ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 80%;
    flex-wrap: wrap;
    gap: 2vw;
}


section.rem ul li {
    width: 16%;
    height: 250px;
    perspective: 1000px;
    transition: margin-top 0.3s ease;
    margin: 0 2vw 0vw 0;
}


section.rem ul li:nth-child(n+5) {
    margin-top: 75px;
}

section.rem ul li:first-child {
    margin: 0 2vw 0 6vw;
}

section.rem ul li.quarto {
    margin: 0 8vw 0 0vw;
}


.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}


.front,
.back {
    position: absolute;
    top: -5%;
    left: 0%;
    width: 120%;
    height: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: grey;
    font-size: 16px;
    text-align: center;
    backface-visibility: hidden;
    line-height: 0.89vw;

}

.front {
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 10px;*/
    border-radius: 20px;
    background-color: white;
    color: white;
    font-size: 16px;
    text-align: center;
    backface-visibility: hidden;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5);
}

.front img {
    width: 100%;
    height: 100%;
    bottom: 0%;
    border-radius: 20px;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5);
}


.back {
    background-color: #1c1b55;
    color: white;
    transform: rotateY(180deg);
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5);
}


li:hover .content {
    transform: rotateY(180deg);
}

section.rem span {
    font-weight: bold;
    font-size: 1.15rem;
}

section.rem li:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease, margin 0.3s ease;
    margin: 10px;
}


section.rem ul:hover li:not(:hover) {
    transform: scale(0.9);
    transition: transform 0.3s ease;
}


/*                           CURIOSIDADES              */

section.curiosidades h2 {
    text-align: center;
    font-size: 3rem;
    margin: 0 0 5vw 0;
    text-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.5);
}

section.curiosidades div.maior {
    display: flex;
    text-align: center;
    margin: 5vw 4vw 5vw 5vw;
}

section.curiosidades ul li {
    padding: 0 13vw 0 0;
    margin: 0 0 0 0;
}

section.curiosidades ul li p {
    font-size: 1.5rem;
    color: whitesmoke;
    margin: 0 0 1vw 0;
    text-align: left;
}

section.curiosidades ul li span {
    color: #60a8fa;
    font-size: 2.1rem;
}

section.curiosidades div img {
    border-radius: 1.8vw;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5);
    margin: 3vw 6vw 0 0;
}

section.curiosidades div.img {
    padding: 0 5vw 0 0;
}

section.curiosidades div.mar {
    padding: 0 0 0 0;
}

/*                           CARD             */


section.pequenos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    padding: 20px;
    margin: 0 auto;
}

.pequenos .maincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}


.thecard {
    width: 500px;
    height: 925px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    border-radius: 25px;
    flex-shrink: 0;
}


.thecard:hover {
    transform: rotateY(180deg);
}

.thefront {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #1c1b55;
    color: #fff;
    text-align: center;
    border-radius: 25px;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.pequenos .fa-solid {
    font-size: 120px;
    color: white;
}

.theback {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #1c1b55;
    color: #fff;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 20px;
    font-size: 22px;
    font-weight: bold;
    transform: rotateY(180deg);
}

.theback h2 {
    font-size: 2rem;
    margin: 2vw 0 2vw 0;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.theback p {
    font-size: 1.5rem;
    padding: 0vw 1vw 2vw 1vw;
    line-height: 1.9vw;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.1em;
}


/*         RESPONSIVO                    */
@media screen and (max-width: 500px) {
    section.banner h1 {
        font-size: 1rem;
        color: #ffffff;
        text-align: center;

        margin: 0;
        padding: 0;
        font-family: 'Georgia', serif;
    }
    section.banner h1 {
        font-size: 3.1rem;
        color: #ffffff;
        text-align: center;
        margin: 0;
        padding: 0;
        font-family: 'Georgia', serif;
    }

    section.corpo div.maior {
        flex-direction: column;
    }

    section.corpo img {
        width: 90%;
        height: 90%;
        margin: 0 4vw 0 0
    }

    /* pequenos */
    main section.pequenos div.maincontainer {
        flex-direction: column;
    }
    section.pequenos div {
        width: 90%;
        height: 200%;
        padding: 2vw 2vw 50vw 2vw;
        margin: 0 11vw 100vw 4vw;
    }
    section.pequenos div.theback p {
        line-height: 1.8rem;
        font-size: 1rem;

    }
    section.pequenos div.theback p {
        font-size: 1rem;
        line-height: 1rem;
    }
    section.pequenos div.theback p:first-child {
        font-size: 3rem;

    }



    /*            REM                 */
    section.rem ul li {
        width: 35%;
        padding: 7vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    section.rem ul li:first-child,
    section.rem ul li.quarto {
        width: 35%;
        margin: 0 1vw 0 0;
        font-size: 0.5rem;
    }

    section.rem ul li:nth-child(n+4) {
        margin-top: 20px;
        width: 35%;
    }

    section.rem ul li .content {
        line-height: 3rem;
        padding: 15vw;
        height: 56%;
    }

    section.rem ul li h2 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    section.rem ul li p {
        font-size: 1rem;
    }
    main section.rem ul li div.content div.back {
        font-size: 1rem;
        line-height: 1rem;
    }
    main section.rem ul li h3 {
        margin: 0 0 5vw 0;

    }

    /*             Curiosidades                 */
    section.curiosidades div.maior {
        flex-direction: column;
        flex-direction: column-reverse;
    }

    section.curiosidades div.maior div.img img {
        width: 105%;
        height: 110%;
        margin: 10vw 0 10vw 0;
    }

    /*                foooooooooooooter             */
    footer div.footer-top nav.footer-nav a {
        font-size: 0.8rem;
    }
}